<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<!-- ========== Shop Header ========== -->
<div class="shop-header">
    <div class="shop-titles">
        <a class="shop-title" href="/">My Shop</a>
        <a class="shop-title" href="/more-filters">More>></a>
    </div>
    <div class="underline"></div>
</div>

<!-- ========== Shop Buttons ========== -->
<div class="shop-buttons">
    <a class="btn" href="/filter-by-type/clothes-and-shoes">clothes and shoes</a>
    <a class="btn" href="/filter-by-type/electronics">electronics</a>
    <a class="btn" href="/filter-by-type/beverages-and-snacks">beverages and snacks</a>
    <a class="btn" href="/price-in-eur">euro</a>
    <a class="btn" href="/price-in-original">original currency</a>
</div>

<div class="underline2"></div>

<!-- ========== Search Bar ========== -->
<div class="search-bar">
    <form class="search-form" action="/search" method="post">
        <a class="btn btn-search" href="">above</a>
        <a class="btn btn-search" href="">below</a>
        <a class="btn btn-search" href="">exactly</a>
        <div class="search-line">
            <label for="search-input">Filter by price: </label>
            <input
                    id="search-input"
                    type="text"
                    name="keyword"
                    placeholder="...e.g.: 300"
            />
        </div>
        <button class="btn btn-search" type="submit">Search</button>
    </form>
</div>

<!-- ========== Table Bar ========== -->
<div class="shop-table">
    <table th:if="${pageType != null}">
        <tr class="table-head">
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
        </tr>
        <tr th:if="${items.size() > 0}" th:each="item : ${items}">
            <td class="item-name" th:text="${item.getName()}"></td>
            <td class="item-type" th:text="${item.getType()}"></td>
            <td class="item-description" th:text="${item.getDescription()}"></td>
            <td class="item-price">
                <span th:text="${item.getPrice()} "></span>
                <span th:text="${currency}"></span>
            </td>
            <td class="item-quantity" th:text="${item.getQuantityOfStock()}"></td>
        </tr>
    </table>
    <h1 th:unless="${pageType != null}">Welcome Traveler!</h1>
    <h1 th:if="${pageType == 'search' && #lists.isEmpty(items)}">No items found for the search keyword.</h1>
</div>


</body>
</html>
